@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap');

$font-family: 'Nunito', sans-serif;
$text-color: #282828;
$light-text-color: #8c8c8c;
$primary-color: #3578B4;
$primary-hover-color: #2C6394;
$primary-text-color: #FFFFFF;
$secondary-color: #282828;
$gray-color: #eeeeee;
$gray-hover-color: darken(#eeeeee, 5%);
$gray-text-color: #808080;
$light-gray-color: #fafafa;
$border-color: #f0f0f0;
$label-new-color: #FFFFFF;
$label-discount-color: #DD0000;
$label-gift-color: #309D00;
$label-digital-color: #a56ac7;
$label-soldout-color: #282828;
$transition-base: all .2s ease-in-out;
$radius-base: 0.4rem;
$shadow-base: 0 0 10px 0 rgba(0,0,0,0.05);

@import 'mixin';

body {
	font-size: 1.2rem;
	font-family: $font-family;
	color: $text-color;
	background: #f1f1f1;
	transition: left .2s ease-in-out, right .2s ease-in-out;
	position: relative;
	left: 0;
	@include max($xs) {
		background-color:#ffffff;
	}
}

a {
	color: $primary-color;
	&:active,
	&:focus,
	&:hover {
		color: $primary-hover-color;
	}
}

/* @Global */
.openbox-overlay,
.navigation-menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.15);
	display: none;
	z-index: 99;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.navigation-menu-overlay {
	@include max($md) {
		z-index: 102;		
	}
}

/* @Header */
#header {
	background-color:#ffffff;
	box-shadow: $shadow-base;
	position: relative;
	z-index: 101;
	margin-bottom: 3rem;
	.header-top {
		background-color:#f3f3f3;
	}
	.header-middle {
		.header-middle-inside {
			padding: 2rem 0;
			border-bottom: 1px solid $border-color;
		}
	}
	.header-bottom {
		.header-bottom-inside {
			position: relative;
			min-height: 7rem;
		}
	}
	@include max($md) {
		margin-bottom: 1.5rem;
		.header-middle {
			.header-middle-inside {
				padding: 1rem 0;
				border-bottom: none;
				> .row {
					margin-left: -5px;
					margin-right: -5px;
					> [class*="col-"] {
						padding-left: 5px;
						padding-right: 5px;
					}
				}
			}
		}
		.header-bottom {
			.header-bottom-inside {
				min-height: auto;
			}
		}
	}
}

.menu-items {
	display: flex;
	li {
		a {
			color: $light-text-color;
			display: block;
			padding: 1rem;
			font-weight: 600;
			transition: $transition-base;
			&:hover {
				color: $primary-color;
			}
		}
		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}
}

.logo {
	img {
		max-height: 8rem;
	}
}

.header-icons {
	@include max($md) {
		margin-left: 0;
		margin-right: 0;
		> div[class*="col-"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.user-menu {
	display: flex;
	padding-right: 1.5rem;
	& &-text {
		padding-right: 1rem;
		align-items: center;
		> span {
			padding: 0 0.3rem;
		}
		> a {
			color: $text-color;
			display: block;
			text-align: right;
			line-height: 2rem;
			position:relative;
			font-size: 1.5rem;
			transition: $transition-base;
			&:first-child {
				font-weight: 700;
			}
			&:hover {
				color: $primary-color;
			}
		}
	}
	& &-icon {
		width: 4rem;
		height: 4rem;
		@include center;
		&.has-check {
			a {
				> i {
					position:absolute;
					bottom: -4px;
					right: -4px;
					width: 14px;
					height: 14px;
					border-radius: 50%;
					background-color: $primary-color;
					@include center;
					color: $primary-text-color;
					font-size: 0.8rem;
				}
			}
		}
		> a {
			display:block;
			position:relative;
			font-size: 2rem;
			color: $text-color;
		}
	}
	@include max($md) {
		padding-right: 0;
	}
}

.cart-menu {
	> a {
		display: flex;
		align-items: center;
		background-color: $secondary-color;
		border-radius: $radius-base;
		.cart-icon {
			width: 4rem;
			height: 4rem;
			@include center;
			font-size: 2rem;
			position: relative;
			color: #ffffff;
			.cart-amount {
				position:absolute;
				top: 4px;
				right: 4px;
				width: 16px;
				height: 16px;
				line-height: 16px;
				text-align:center;
				background-color: #ffffff;
				color: $text-color;
				font-size: 1rem;
				border-radius: 50%;
				border: 1px solid $text-color;
			}
		}
		.cart-title {
			color: #ffffff;
			font-size: 1.5rem;
			padding: 0 1rem;
		}
	}
	@include max($md) {
		> a {
			background-color: transparent;
			.cart-icon {
				color: $text-color;
				.cart-amount {
					border-color: #ffffff;
					background-color: $text-color;
					color: #ffffff;
				}
			}
			.cart-title {
				display: none;
			}
		}
	}
}

/* @Navigation */
.toggle-bar {
	width: 4rem;
	height: 4rem;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	display: none;
	cursor: pointer;
	z-index: 1;
	@include max($md) {
		display: flex;
	}
}

body {
	&.navigation-active {
		.navigation-menu-overlay {
			display: block;
		}
	}
}

#navigation {
	.category-level-1 {
		> ul {
			display: flex;
			> li {
				> a {
					height: 7rem;
					font-size: 1.6rem;
					font-weight: 800;
					color: $text-color;
					@include center;
					padding: 0 1.5rem;
					transition: $transition-base;
				}
				&.active {
					> a {
						background-color: $secondary-color;
						color: #ffffff;
					}
					> .category-level-2 {
						display: block;
					}
				}
			}
		}
	}
	.category-level-2 {
		position:absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: $secondary-color;
		display: none;
		z-index: 101;
		padding: 3rem;
		> ul {
			display: flex;
			flex-wrap: wrap;
			margin-left: -1.5rem;
			margin-right: -1.5rem;
			> li {
				flex: 0 0 25%;
				margin-bottom: 2rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				> a {
					display:block;
					color: #ffffff;
					font-size: 1.5rem;
					font-weight: 600;
					margin-bottom: 1rem;
					&:only-child {
						margin-bottom: 0;
					}
				}
				&:hover {
					> a {
						
					}
				}
				&.navigation-category-image {
					flex: 0 0 calc(100%/8);
					> a {
						> div {
							padding-top: 100%;
							position: relative;
							@include imgcenter;
							margin-bottom: 1.5rem;
						}
						> span {
							text-align: center;
							color: #ffffff;
							display: block;
						}
					}
				}
			}
		}
	}
	.category-level-3 {
		> ul {
			> li {
				> a {
					display:block;
					color: #ffffff;
					margin-bottom: 0.8rem;
				}
				&:hover {
					> a {
						text-decoration: underline;
					}
				}
				&.navigation-show-all {
					font-style: italic;
					text-decoration: underline;
				}
			}
		}
	}
	@include max($md) {
		display: none;
	}
}

.search {
	position:absolute;
	top: 0;
	right: 0;
	width: 270px;
	transition: $transition-base;
	form {
		position: relative;
		input {
			width: 100%;
			padding: 1rem 6rem 1rem 1rem;
			border: none;
			background-color: #f9f9f9;
			height: 7rem;
			color: $text-color;
			font-size: 1.6rem;
			font-weight: 300;
			@include placeholder {
				color: $light-text-color;
				opacity: 1;
			}
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 5rem;
			border: none;
			background-color: transparent;
			padding: 0;
			font-size: 1.6rem;
			color: $light-text-color;
		}
	}
	@include max($lg) {
		width: 210px;
	}
	@include max($md) {
		width: 100%;
		position: relative;
		form {
			input {
				height: 4rem;
			}
		}
	}
	&.active {
		width: 100%;
	}
}

/* @Main */
.home-products,
.offered-products,
.similar-products {
	padding: 0 1.5rem;
	background-color: #ffffff;
	box-shadow: $shadow-base;
	border-radius: $radius-base;
	.products-header {
		font-size: 1.8rem;
		font-weight: 800;
		border-bottom: 1px solid $border-color;
		padding: 2.5rem 0;
	}
	.products-content {
		> .slick-arrow {
			width: 4rem;
			height: 4rem;
			opacity: 1;
			position:absolute;
			top: -6rem;
			z-index: 2;
			cursor: pointer;
			background-color: transparent;
			color: $primary-color;
			font-size: 1.8rem;
			&.slick-prev {
				right: 5.5rem;
			}
			&.slick-next {
				right: 1.5rem;
			}
			&.slick-disabled {
				color: $light-text-color;
			}
		}
		> .slick-dots {
			@include center;
			flex-wrap: wrap;
			padding: 2rem 0;
			width: 100%;
			> li {
				margin: 0 0.5rem;
				> button {
					width: 12px;
					height: 12px;
					border: none;
					position: relative;
					overflow: hidden;
					text-indent: -9999px;
					border-radius: 50%;
					background-color:#eeeeee;
					padding: 0;
					display: block;
					margin-bottom: 0.5rem;
				}
				&.slick-active {
					> button {
						background-color: $primary-color;
					}
				}
			}
		}
	}
	.product-item {
		padding: 15px;
	}
	.showcase {
		margin-bottom: 0;
	}
	@include max($sm) {
		.products-header {
			font-size: 1.4rem;
			padding: 1rem 0;
		}
	}
	@include max($xs) {
		padding: 0;
		box-shadow: none;		
	}
}


.list-tab {
	padding: 0 1.5rem;
	background-color: #ffffff;
	box-shadow: $shadow-base;
	border-radius: $radius-base;
	&-title {
		border-bottom: 1px solid $border-color;
		[data-tab-index] {
			a {
				font-size: 1.8rem;
				font-weight: 800;
				color: $text-color;
				padding: 2.5rem 0;
				display: block;
			}
			&.active {
				a {
					color: $primary-color;
				}
			}
		}
	}
	&-content {
		[data-tab-content] {
			height: 0;
			overflow: hidden;
			.product-item {
				padding: 15px;
			}
			&.active {
				height: auto;
				overflow: visible;
			}
		}
	}
	@include max($md) {
		&-title {
			overflow-x: auto;
			scroll-snap-type: x mandatory;
			[data-tab-index] {
				scroll-snap-align: start;
			}
		}
	}
	@include max($sm) {
		&-title {
			[data-tab-index] {
				a {
					padding: 1.5rem 0;
					font-size: 1.4rem;
				}
			}
		}
	}
	.showcase {
		margin-bottom: 0;
	}
	@include max($xs) {
		padding: 0;
		box-shadow: none;
	}
}

#main {
	margin-bottom: 3rem;
	@include max($md) {
		margin-bottom: $gutter;
	}
}

#entry-slider {
	overflow: hidden;
	border-radius: $radius-base;
	box-shadow: $shadow-base;
}

.banner {
	img {
		box-shadow: $shadow-base;
		border-radius: $radius-base;
	}
}

.brands-list {
	padding: 0 1.5rem;
	background-color: #ffffff;
	box-shadow: $shadow-base;
	border-radius: $radius-base;
	.brands-list-title {
		font-size: 1.8rem;
		font-weight: 800;
		border-bottom: 1px solid $border-color;
		padding: 2.5rem 0;
	}
	.brands-list-content {
		> .slick-arrow {
			width: 4rem;
			height: 4rem;
			opacity: 1;
			position:absolute;
			top: -6rem;
			z-index: 2;
			cursor: pointer;
			background-color: transparent;
			color: $primary-color;
			font-size: 1.8rem;
			&.slick-prev {
				right: 5.5rem;
			}
			&.slick-next {
				right: 1.5rem;
			}
			&.slick-disabled {
				color: $light-text-color;
			}
		}
	}
	.brands-item {
		padding: 15px;
		> a {
			display: block;
			padding-top: 100%;
			position: relative;
			@include imgcenter;
			transition: $transition-base;
			border-radius: $radius-base;
			&:hover {
				box-shadow: $shadow-base;
			}
		}
	}
	@include max($sm) {
		.brands-list-title {
			font-size: 1.4rem;
			padding: 1rem 0;
		}
	}
	@include max($xs) {
		padding: 0;
		box-shadow: none;
	}
}

/* @Footer */
#footer {
	background-color: #ffffff;
	box-shadow: $shadow-base;
	.footer-top {
		.footer-top-inside {
			padding: 2rem 0;
			border-bottom: 1px solid $border-color;
		}
	}
	.footer-bottom {
		padding: 2rem 0;
	}
}

.footer-menu {
	&-title {
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
		font-weight: 700;
	}
	&-content {
		> ul {
			> li {
				margin-bottom: 1rem;
				color: $light-text-color;
				font-size: 1.3rem;
				font-weight: 300;
				> a {
					color: $light-text-color;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}
	@include max($md) {
		text-align:center;
		margin-bottom: 1.5rem;
	}
}

.newsletter {
	margin-bottom: 1.5rem;
	&-title {
		margin-bottom: 1.5rem;
		color: $text-color;
		> div {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
			strong {
				font-weight: 700;
			}
		}
		> span {
			font-size: 1.3rem;
			font-weight: 300;
			color: $light-text-color;
		}
	}
	&-content {
		form {
			display: flex;
			height: 5rem;
			border-radius: $radius-base;
			input {
				flex: 1 0 0;
				background-color: transparent;
				border: 2px solid $border-color;
				border-right: none;
				border-radius: $radius-base 0 0 $radius-base;
				padding: 1rem;
				font-size: 1.3rem;
				line-height: 1.3rem;
				color: $text-color;
				@include placeholder {
					opacity: 1;
					color: $light-text-color;
				}
			}
			button {
				flex: 0 0 95px;
				max-width: 95px;
				background-color: $primary-color;
				font-size: 1.5rem;
				font-weight: 700;
				color: $primary-text-color;
				border:none;
				border-radius: 0 $radius-base $radius-base 0;
				transition: $transition-base;
				&:hover {
					background-color: $primary-hover-color;
				}
			}
		}
	}
	@include max($md) {
		text-align:center;
	}
}

.footer-social {
	& &-title {
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
		font-weight: 700;
	}
	& &-content {
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		> div {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
		a {
			@include center;
			width: 3rem;
			height: 3rem;
			font-size: 2.4rem;
			color: $light-text-color;
			transition: $transition-base;
			> i {
				display: block;
				&:before {
					display:block;
				}
			}
			&:hover {
				color: $primary-color;
			}
		}
	}
	@include max($md) {
		text-align: center;
		.footer-social-content {
			justify-content: center;
		}
	}
}

.copyright {
	font-size: 1.3rem;
	color: $light-text-color;
	@include max($md) {
		text-align: center;
	}
}

.secure {
	@include max($md) {
		text-align: center;
	}
}

#ideasoft {
	background-color: $gray-color;
	position: relative;
	padding: 1rem 0;
}

#scroll-top {
	position:fixed;
	right: 10px;
	bottom: 130px;
	background-color: $gray-color;
	border-radius: 50%;
	box-shadow: $shadow-base;
	display: none;
	cursor: pointer;
	z-index: 20;
	i {
		width: 60px;
		height: 60px;
		@include center;
		font-size: 2rem;
		color: $primary-color;
	}
	@include max($md) {
		display: none!important;
	}
}

/* @Showcase */
.showcase {
	position: relative;
	background-color: #ffffff;
	transition: $transition-base;
	margin-bottom: 3rem;
	border-radius: $radius-base;
	.showcase-image-container {
		position:relative;
	}
	.showcase-image {
		position: relative;
		padding-top: 100%;
		overflow: hidden;
		a {
			@include imgcenter;
		}
	}
	.showcase-content {
		padding: 1rem;
		transition: $transition-base;
		.showcase-brand {
			height: 2rem;
			text-align: center;
			> a {
				color: $text-color;
				font-weight: 700;
				font-size: 1.3rem;
				&:hover {
					color: $primary-color;
				}
			}
		}
		.showcase-title {
			margin-bottom: 1rem;
			font-size: 1.3rem;
			line-height: 1.6rem;
			height: 3.2rem;
			font-weight: 300;
			overflow: hidden;
			text-align: center;
			@include max($md) {
				height: 4.7rem;
			}
			a {
				color: $text-color;
			}
		}
		.showcase-price-container {
			display: flex;
			height: 4rem;
			align-items: flex-end;
			margin-left: -0.5rem;
			margin-right: -0.5rem;
			justify-content: center;
			> div {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
			.showcase-price {
				&-new {
					color: $text-color;
					font-size: 1.6rem;
					font-weight: 700;
					line-height: 2.2rem;
				}
				&-old {
					text-decoration:line-through;
					font-size: 1.3rem;
					font-weight: 600;
					line-height: 1.4rem;
				}
			}
			&.has-discount {
				justify-content: flex-start;
				align-items: center;
				.showcase-price {
					.showcase-price-new {
						color: $text-color;
					}
				}
			}
			.discount-label {
				background-color: $label-discount-color;
				color: #ffffff;
				width: 4rem;
				height: 3rem;
				border-radius: $radius-base;
				@include center;
				font-size: 1.4rem;
			}
		}
	}
	.showcase-buttons {
		display: none;
	}
	@include min($md) {
		.showcase-buttons {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			@include center;
			opacity: 0;
			transition: $transition-base;
			width: 100%;
			flex-wrap: wrap;
			> div {
				flex: 0 0 75%;
				max-width: 75%;
				min-height: 1px;
			}
			a.add-to-cart-button,
			a.no-stock-button,
			a.showcase-view {
				@include center;
				height: 4rem;
				font-size: 1.4rem;
				font-weight: 600;
				padding: 0 1.5rem;
				border-radius: $radius-base;
				transition: $transition-base;
				margin-bottom: 1rem;
				i {
					font-size: 1.6rem;
				}
				span {
					padding-left: 1rem;
				}
			}
			a.add-to-cart-button {
				background-color: $primary-color;
				color: $primary-text-color;
				&:hover {
					background-color: $primary-hover-color;
				}
			}
			a.no-stock-button {
				background-color: $gray-color;
				color: $gray-text-color;
				> span {
					padding-left: 0.5rem;
				}
			}
			a.showcase-view {
				background-color: $text-color;
				color: #ffffff;
				&:hover {
					background-color: #000000;
				}
			}
		}
		&:hover {
			box-shadow: $shadow-base;
			.showcase-content {
				opacity: 0;
			}
			.showcase-buttons {
				opacity: 1;
			}
		}
	}
	@include max($xs) {
		.showcase-content {
			.showcase-price-container {
				height: 3rem;
				text-align: center;
				.showcase-price {
					flex: 1 0 0;
					&-new {
						font-size: 1.4rem;
						line-height: 1.4rem;
					}
					&-old {
						font-size:1rem;
						line-height: 1rem;
					}
				}
				.discount-label {
					position:absolute;
					width: 3rem;
					height: 3rem;
					top: 0;
					right: 0;
					font-size: 1rem;
					padding: 0;
					@include center;
					line-height: 1;
				}
			}
		}
	}
}

.showcase-badges {
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 10;
	@include max($xs) {
		top: 0;
		left: 0;
	}
}

.new-label {
	width: 3rem;
	height: 3rem;
	background-color: $label-new-color;
	color: $primary-text-color;
	font-size: 1.2rem;
	@include center;
	border-radius: $radius-base;
	margin-bottom: 1rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.gift-label {
	width: 3rem;
	height: 3rem;
	background-color: $label-gift-color;
	color: #ffffff;
	font-size: 1.6rem;
	@include center;
	border-radius: $radius-base;
	margin-bottom: 1rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.digital-label {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 4rem;
	height: 3rem;
	z-index: 2;
	background-color: $label-digital-color;
	color: $primary-text-color;
	font-size: 1.2rem;
	@include center;
	border-radius: $radius-base;
}

.sold-out-label {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include center;
	z-index: 10;
	background-color: rgba(255,255,255,0.7);
	> span {
		height: 2.6rem;
		background-color: $label-soldout-color;
		color: #ffffff;
		font-size: 1.6rem;
		border-radius: $radius-base;
		padding: 0 1rem;
	}
}

/* #Pagination */
.paginate-wrapper {
	position: relative;
	padding: $gutter 0;
	.paginate {
		display: flex;
		@include max($xs) {
			justify-content: space-between;
		}
		a {
			padding: 0 0.2rem;
			min-width: 4rem;
			height: 4rem;
			font-size: 1.5rem;
			font-weight: 600;
			color: $text-color;
			@include center;
			border-radius: $radius-base;
			border: 1px solid $border-color;
			background-color: #ffffff;
			i {
				display: block;
				line-height: 1.4rem;
				font-size: 1.8rem;
			}
			@include max($xs) {
				min-width: 3rem;
				height: 3rem;
			}
		}
		.paginate-content {
			display: flex;
			a {
				margin: 0 0.6rem;
				@include max($xs) {
					margin: 0 0.2rem;
				}
			}
		}
		.paginate-left {
			a {
				margin-right: 0.6rem;
			}
		}
		.paginate-right {
			a {
				margin-left: 0.6rem;
			}
		}
		.paginate-passive {
			a {
				color: $light-text-color;
			}
		}
		.paginate-active {
			a {
				background-color: $primary-color;
				color: $primary-text-color;
			}
		}
		.paginate-element-active {
			background-color: $primary-color;
			color: $primary-text-color;
		}
	}
}

/* @Contentbox */
.contentbox-header {
	margin-bottom: $gutter;
	p {
		font-size: 1.2rem;
		margin-bottom: 0;
		display: block;
	}
	h4 {
		margin-bottom: 0;
		font-size: 2.2rem;
		font-weight: 700;
	}
}

.current-page-product-detail {
	.product-extra-details,
	.product-detail {
		ol, ul {
			margin: 0;
			padding: 0;
		}
		ol {
			li {
				list-style: decimal inside;
			}
		}
		ul {
			li {
				list-style: disc inside;
			}
		}
	}
}

body {
	&[class*="current-page-member-"],
	&[class*="current-page-page-"],
	&[class*="current-page-default-"],
	&[class*="current-page-dynamic-form"],
	&[class*="current-page-blog-"] {
		.contentbox-body {
			background-color: #ffffff;
			box-shadow: $shadow-base;
			border-radius: $radius-base;
			padding: $gutter;
			@include max($xs) {
				padding: 0;
				box-shadow: none;
			}
		}
	}
}

/* @Breadcrumbs */
#breadcrumbs {
	margin-bottom: 1.6rem;
	@include max($md) {
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		margin-bottom: .6rem;
		padding-bottom: 1rem;
	}
	ol {
		display: flex;
		padding: 0;
		margin: 0;
		align-items: center;
		li {
			i {
				font-size: 1.2rem;
				margin: 0 0.5rem;
				font-style: normal;
				&:before {
					content: '>';
				}
			}
			span {
				display: flex;
				align-items: center;
				white-space: nowrap;
				color: $text-color;
			}
			a {
				color: $text-color;
				&:hover {
					span {
						span {
							color: $primary-color;
						}
					}
				}
			}
		}
	}
}

/* @Blocks */
.block-item {
	margin-bottom: 2rem;
	background-color: #ffffff;
	box-shadow: $shadow-base;
	padding: 1rem;
	border-radius: $radius-base;
	a {
		color: $text-color;
		&:hover {
			color: $primary-hover-color;
		}
	}
	.block-item-title {
		font-size: 1.5rem;
		font-weight: 700;
		padding: 1rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		> i {
			display: none;
			@include max($sm) {
				display: block;
			}
		}
	}
	.block-item-content {
	}
	&.active {
		.block-item-title {
			> i.fa-angle-down {
				&:before {
					content: '\f106';
				}
			}
		}
	}
	&[data-type="no-frame"] {
		.block-item-title {
			display: none;
		}
	}
}

/* @Filter Wrapper */
@include max($sm) {
	.block-item {
		&[data-type="filter-product-groups"] {
			box-shadow: none;
			display: block;
			margin-bottom: 0;
			padding: 0;
			.block-item-title {
				display: none;
			}
			.block-item-content {
				display: block;
				padding: 0;
			}
		}
		&[data-type="product-groups"] {
			display: none;
		}
	}
	.filter-menu,
	.horizontal-filter-menu {
		position: fixed;
		width: 280px;
		height: 100%;
		left: -280px;
		top: 0;
		background: #ffffff;
		z-index: 100;
		transition: $transition-base;
		overflow-y: auto;
		padding: $gutter;
		-webkit-overflow-scrolling: touch;
		.filter-menu-category {
			display: none;
		}
	}
	.filter-menu-active {
		left: 280px;
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
		.filter-menu,
		.horizontal-filter-menu {
			left: 0;
		}
		#header {
			z-index: 98;
		}
	}
	#filter-wrapper {
		@include max($sm) {
			margin-bottom: 2rem;
		}
		display: none;
		&.has-sorting-option:not(.has-filter-option) {
			display: block;
			.filter-wrapper-header {
				display: none;
			}
			.filter-wrapper-content {
				#sorting-options {
					display: block;
				}
			}
		}
		&.has-filter-option {
			display: block;
			.filter-wrapper-content {
				#sorting-options {
					display: none;
				}
			}
		}
	}
	.sorting-options-content-active {
		#filter-wrapper {
			.filter-wrapper-content {
				#sorting-options {
					display: block;
				}
			}
		}
	}
}

@media (min-width: 991px) {
	#sorting-options {
		select.form-control:not([size]):not([multiple]), select:not([size]){
			min-width: 16rem;
		}
	}
}

.filter-menu-overlay,
.filter-wrapper-header {
	@include min($sm) {
		display: none !important;
	}
}

@include min($sm) {
	#sorting-options {
		padding-bottom: $gutter;
		margin-bottom: $gutter;
		border-bottom: 1px solid $border-color;
	}
}

.horizontal-filter-menu {
	padding: 1.5rem;
	border: 1px solid $border-color;
	margin-bottom: 1rem;
	.horizontal-filter-menu-title {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
	.clear-filters {
		display: flex;
		margin-bottom: 1rem;
		a {
			display: block;
			padding: 0.2rem 0.5rem;
			background: $gray-color;
			color: $text-color;
		}
	}
	.filter-menu-selected-items {
		flex: 0 0 100%;
	}
	.filter-menu-groups {
		margin-bottom: 1rem;
		.filter-menu-group-title {
			margin-bottom: 1rem;
		}
	}
	.filter-menu-selected-items {
		margin-bottom: 1rem;
		.filter-menu-selected-items-title {
			font-size: 1.4rem;
			margin-bottom: 1rem;
		}
		.filter-menu-selected-items-content {
			.filter-menu-selected-group {
				margin-bottom: 0.5rem;
				.filter-menu-selected-group-title {
					margin-right: 1rem;
					margin-bottom: 0.5rem;
				}
				.filter-menu-selected-group-content {
					display: flex;
					flex-wrap: wrap;
					.filter-menu-selected-item {
						margin-right: 1rem;
						margin-bottom: 0.5rem;
						flex: 0 0 auto;
						&:last-child {
							margin-right: 0;
						}
						a {
							display: block;
							padding: 0.2rem 0.5rem;
							background: $gray-color;
							color: $text-color;
						}
					}
				}
			}
		}
	}
}

.cascade-menu {
	.parent-item {
		a.selected-item {
			color: $primary-color;
		}
	}
}

/* @Product */
.product-area-top {
	background-color: #ffffff;
	border-radius: $radius-base;
	box-shadow: $shadow-base;
	@include max($xs) {
		box-shadow: none;
	}
}

.product-left {
	padding: $gutter $gutter*2;
	border-right: 1px solid $border-color;
	@include max($xs) {
		padding: $gutter 0;
		border-right: none;
	}
}

.product-right {
	padding: $gutter $gutter*2;
	@include max($xs) {
		padding: $gutter 0;
	}
}

.product-image {
	#product-primary-image {
		position: relative;
		margin-bottom: 1.6rem;
		padding-top: 100%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: scale-down;
		}
	}
}

.product-thumb-image-container {
	padding: 0 $gutter*2;
	@include max($xs) {
		padding:0;
	}
}

#product-thumb-image {
	margin-left: -10px;
	margin-right: -10px;
	.thumb-item {
		padding-left: 10px;
		padding-right: 10px;
		> div {
			> a {				
				padding-top: 100%;
				position: relative;
				display: block;
				border: 1px solid $border-color;
				border-radius: $radius-base;
				@include imgcenter;
				&.zoomGalleryActive {
					border-color: $primary-color;
				}
			}
		}
	}
	> .slick-arrow {
		width: 3rem;
		height: 3rem;
		opacity: 1;
		position:absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		cursor: pointer;
		font-size: 2rem;
		background-color: transparent;
		color: $primary-color;
		&.slick-prev {
			left: -30px;
		}
		&.slick-next {
			right: -30px;
		}
		&.slick-disabled {
			color: $light-text-color;
		}
	}
	&:not(.slick-initialized) {
		opacity: 0;
		position: absolute;
	}
}

.product-cargo-buttons {
	display: flex;
	height: 100%;
	margin-bottom: $gutter;
	.product-cargo-button {
		border: 1px solid $border-color;
		padding: 0.5rem 1rem;
		color: $light-text-color;
		background: $light-gray-color;
		display: flex;
		align-items: center;
		i:before {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			font-style: normal;
			margin-right: 0.5rem;
			font-size: 1.6rem;
		}
		&.fast_shipping {
			i:before {
				content: '\f48b';
			}
		}
		&.same_day_shipping {
			i:before {
				content: '\f0d1';
			}
		}
		&.three_days_delivery {
			i:before {
				content: '\f0d1';
			}
		}
		&.five_days_delivery {
			i:before {
				content: '\f0d1';
			}
		}
		&.seven_days_delivery {
			i:before {
				content: '\f0d1';
			}
		}
		&.free_shipping {
			i:before {
				content: '\f06b';
			}
		}
		&.delivery_from_stock {
			i:before {
				content: '\f472';
			}
		}
		&.pre_ordered_product {
			i:before {
				content: '\f253';
			}
		}
		&.limited_stock {
			i:before {
				content: '\f017';
			}
		}
		&.ask_stock {
			i:before {
				content: '\f4ad';
			}
		}
		&.campaigned_product {
			i:before {
				content: '\f295';
			}
		}
	}
}

/* @Product List */
.product-list-container {
	margin-bottom: 2rem;
	.product-list-block {
		margin-bottom: 0.8rem;
	}
	.product-list-row {
		display: flex;
		align-items: center;
		margin-bottom: 0.8rem;
		a {
			color: $text-color;
			transition: $transition-base;
			&:hover {
				color: $primary-color;
			}
		}
		.product-list-title {
			flex: 0 0 auto;
			width: 30%;
		}
		.product-list-content {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			word-break: break-word;
			&:before {
				content: ':';
				margin-right: 1.6rem;
			}
		}
	}
}

.product-lowest-price {
	background-color:#fff7ea;
	padding: 0.6rem;
}

.product-title {
	margin-bottom: 2rem;
	h1 {
		font-size: 2.6rem;
	}
	@include max($md) {
		h1 {
			font-size: 2rem;
		}
	}
}

.product-price-container {
	display: flex;
	align-items: flex-end;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	margin-bottom: 1.6rem;
	> div {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.product-price {
		display: flex;
		align-items: baseline;
		&-new,
		&-old {
			font-size: 2.4rem;
			font-weight: 700;
			color: $primary-color;
		}
		
	}
	&.has-discount {
		.product-price {
			.product-price-old {
				font-size: 1.7rem;
				font-weight: 400;
				text-decoration: line-through;
				padding-left: 1rem;
				color: lighten($text-color, 30%);
			}
		}
	}
	.discount-label {
		background-color: $primary-color;
		color: $primary-text-color;
		height: 4rem;
		border-radius: $radius-base;
		@include center;
		padding: 0 1rem;
		font-size: 1.5rem;
		font-weight: 500;
	}
}

/* @Variants */
.product-options {
	.product-options-title {
		margin-bottom: 1rem;
		font-size: 1.4rem;
	}
}

.variant-select {
	margin-bottom: 2rem;
	.variant-list {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
		select {
			width: 50% !important;
			@include max($xs) {
				width: 100% !important;
			}
		}
	}
}

.variant-plural {
	margin-bottom: 2rem;
	.variant-list {
		flex: 0 0 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	span {
		flex: 0 0 auto;
		border: 1px solid $gray-color;
		padding: 0.5rem 1rem;
		cursor: pointer;
		margin: 0 1rem 1rem 0;
		&:last-child {
			margin-right: 0;
		}
		&.variant-passive {
			background-color: $gray-color;
		}
		&.variant-no-stock {
			background-color: $gray-color;
		}
		&.variant-selected {
			border-color: $text-color;
		}
	}
}

.variant-singular {
	margin-bottom: 2rem;
	.radio-custom {
		margin-bottom: 1rem;
	}
}

.product-cart-buttons {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 1.5rem;
	> div {
		padding-left: 5px;
		padding-right: 5px;
	}
	.product-buttons-wrapper {
		flex: 1 0 0;
		max-width: 100%;
		.product-buttons-row {
			display: flex;
			flex-wrap: wrap;
			margin-left: -5px;
			margin-right: -5px;
			> div {
				flex: 1 0 0;
				max-width: 100%;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
}

.product-qty-wrapper {
	.product-qty {
		width: 10rem;
		select.form-control:not([size]):not([multiple]), select:not([size]) {
			height: 5rem;
		}
		input[type="text"] {
			width: 100%;
			height: 5rem;
			font-size: 1.4rem;
			font-weight: 600;
			text-align: center;
			border: 1px solid $border-color;
			border-radius: $radius-base;
		}
	}
	@include max($xs) {
		margin-bottom: 1rem;
		flex: 0 0 100%;
		max-width: 100%;
		.product-qty {
			width: 100%;
		}
	}
}

.product-buttons-wrapper {
	a.add-to-cart-button,
	a.no-stock-button,
	a.quick-order-button,
	a.remind-me-button {
		@include center;
		height: 5rem;
		font-size: 1.4rem;
		font-weight: 700;
		padding: 0 1.5rem;
		border-radius: $radius-base;
		transition: $transition-base;
	}

	a.add-to-cart-button {
		background-color: $primary-color;
		color: $primary-text-color;
		&:hover {
			background-color: $primary-hover-color;
		}
		> span {
			padding-left: 0.5rem;
		}
	}

	a.no-stock-button {
		background-color: $gray-color;
		color: $gray-text-color;
		> span {
			padding-left: 0.5rem;
		}
	}

	a.quick-order-button,
	a.remind-me-button {
		background-color: $secondary-color;
		color: #ffffff;
		&:hover {
			background-color: #333333;
		}
	}
}

.product-subscription {
    padding: 1rem;
    margin-bottom: 2rem;
}

#product-user-buttons {
	padding: 1rem 0;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	margin-bottom: $gutter;
	> div {
		border-right: 1px solid $border-color;
		&:last-child {
			border-right:none;
		}
	}
	a {
		@include center;
		flex-wrap: wrap;
		height: 6rem;
		border-radius: $radius-base;
		color: $light-text-color;
		text-align: center;
		align-items: flex-start;
		align-content: flex-start;
		padding: 0.5rem 0.5rem 0;
		transition: $transition-base;
		> i {
			margin-bottom: 0.5rem;
			font-size: 1.6rem;
		}
		> span {
			font-size: 1.1rem;
			font-weight: 600;
			display: block;
			width: 100%;
			line-height: 1.3rem;
		}
		&:hover {
			color: $primary-color;
		}
	}
}

a.add-my-favorites {
	span {
		&:before {
			content: attr(data-add-to-favorites);
		}
	}
	&.favorite-product {
		i {
			font-weight: 900;
			color: #ff0000;
		}
		span {
			&:before {
				content: attr(data-favorite-product);
			}
		}
	}
}

.product-social {
	display: flex;
	align-items: center;
	margin-bottom: $gutter;
	&-title {
		font-size: 1.3rem;
		color: $light-text-color;
	}
	&-content {
		display: flex;
		> a {
			width: 3rem;
			height: 3rem;
			margin-right: 1rem;
			@include center;
			font-size: 2rem;
			&.product-social-facebook {
				color: #3b5998;
			}
			&.product-social-twitter {
				color: #1da1f2;
			}
			&.product-social-pinterest {
				color: #bd081c;
			}
			&.product-social-whatsapp {
				color: #25d366;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.product-compare {
    display: flex;
	margin-bottom: $gutter;
    a {
        border: 1px solid $border-color;
        padding: 0.5rem 1rem;
        color: $text-color;
        background: $light-gray-color;
        display: flex;
        align-items: center;
		border-radius: $radius-base;
        i {
            margin-right: 0.5rem;
            font-size: 1.6rem;
        }
        &.active {
            background: $primary-color;
            color: $primary-text-color;
        }
    }
}

/* @Tab */
.product-detail-tab {
	margin-bottom: $gutter*2;
	.product-detail-tab-header {
		background-color: $secondary-color;
		border-radius: $radius-base $radius-base 0 0;
		padding: $gutter $gutter 0;
		[data-tab-index] {
			> a {
				@include center;
				font-size: 1.6rem;
				color: #ffffff;
				height: 4rem;
				border-radius: $radius-base $radius-base 0 0;
			}
			&.active {
				> a {
					background-color: #ffffff;
					color: $text-color;
				}
			}
		}
	}
	.product-detail-tab-content {
		background-color: #ffffff;
		border-radius: 0 0 $radius-base $radius-base;
		[data-tab-content] {
			height: 0;
			overflow: hidden;
			> div {
				padding: $gutter;
			}
			&.active {
				height: auto;
				overflow: visible;
			}
		}
	}
	@include max($md) {
		.product-detail-tab-header {
			padding: 0;
			overflow-x: auto;
			[data-tab-index] {
				> a {
					border-radius: 0;
					padding: 0 1.5rem;
				}
			}
		}
		.product-detail-tab-content {
			[data-tab-content] {
				> div {
					padding: $gutter 0;
				}
			}
		}
	}
	@include max($sm) {
		margin-bottom: $gutter;
	}
}

/* @Override */
.btn {
	font-size: 1.3rem;
	font-weight: 600;
	border-radius: $radius-base;
	transition: $transition-base;
	&.btn-primary {
		color: $primary-text-color;
		background: $primary-color;
		&:not(.btn-loading):active,
		&:not(.btn-loading).active,
		&:not(.btn-loading):hover,
		&:not(.btn-loading).hover,
		&:not([disabled]):not(.disabled):active,
		&:not([disabled]):not(.disabled).active {
			background: $primary-hover-color;
			color: $primary-text-color;
		}
	}
	&.btn-secondary {
		color: $gray-text-color;
		background: $gray-color;
		&:not(.btn-loading):active,
		&:not(.btn-loading).active,
		&:not(.btn-loading):hover,
		&:not(.btn-loading).hover {
			color: $gray-text-color;
			background: $gray-hover-color;
		}
	}
}

.btn-loading:before {
	border-top-color: $primary-color;
}

.loader {
	.ball-pulse {
		> div {
			background-color: $primary-color;
		}
	}
}

.loading > div {
	border-top-color: $primary-color;
	border-bottom-color: $primary-color;
}

.loading-bar {
	.loader {
		background: $primary-color;
	}
}

.control-label {
	color: $text-color;
}

.information-content {
	border: solid 1px $border-color;
	border-radius: $radius-base;
	span {
		border-radius: $radius-base;
	}
	i {
		color: darken($gray-color, 10%);
	}
}

.member-block {
	li {
		> a {
			&.active {
				color: $primary-color;
			}
		}
		&:hover > a:not(.active) {
			color: $primary-color;
			i.left-icons {
				color: $primary-color;
			}
		}
	}
}

#featured-product-block {
	border: none;
}

/* @Filter Menu */
.filter-menu {
	.filter-menu-box {
		border: none;
		border-bottom: 1px solid $border-color;
		margin-bottom: 1rem;
		&:nth-last-child(2) {
			border-bottom: none;
			margin-bottom: 0;
		}
	}
	.filter-menu-category {
		.filter-menu-category-title {
			background-color: transparent;
			border: none;
			padding: 1rem 0;
			font-size: 1.3rem;
		}
		.filter-menu-category-content {
			border-bottom: none;
			a {
				color: $text-color;
				font-size: 1.3rem;
				i {
					display: none;
				}
				&:hover {
					color: $primary-color;
				}
			}
		}
		.filter-menu-category-top {
			a {
				font-size: 1.3rem;
				font-weight: 600;
			}
		}
	}
	.filter-menu-groups {
		.filter-menu-group-title {
			background-color: transparent;
			border: none;
			padding: 1rem 0;
			font-size: 1.5rem;
			font-weight: 700;
		}
		.filter-menu-group-content {
			label {
				color: $text-color;
				font-size: 1.3rem;
			}
		}
	}
	.filter-menu-selected-items {
		border: 1px solid $border-color;
		background-color: $light-gray-color;
		padding: 1rem;
		.filter-menu-selected-items-title {
			background-color: transparent;
			border: none;
			font-size: 1.3rem;
			font-weight: 600;
			padding: 0;
		}
		.filter-menu-selected-items-content {
			padding: 1rem 0;
			.filter-menu-selected-group {
				.filter-menu-selected-group-title {
					font-weight: 400;
				}
			}
		}
	}
}

.blog-list-search {
	form {
		input {
			color: $text-color;
			font-size: 1.4rem;
			border-color: $border-color;
			height: calc(4.3rem + 2px);
			border-radius: $radius-base;
			padding: .9rem 1.5rem;
			&::placeholder {
				opacity: 1;
				color: $text-color;
			}
		}
		.btn {
			border-radius: $radius-base;
			height: 4.5rem;
			padding: 0;
			i {
				font-size: 1.5rem;
				width: 1.7rem;
				height: 1.7rem;
				line-height: 1.6rem;
			}
		}
	}
}

.blog-list-content {
	.blog-list-item {
		margin-bottom: $gutter*2;
		padding: 0;
		border-bottom: none;
		background-color: #ffffff;
		transition: $transition-base;
		.blog-image {
			height: 100%;
			a {
				display: block;
				position: relative;
				padding-top: 66.66%;
				height: 100%;
				overflow: hidden;
				@include fit;
			}
			.blog-nopic {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 3;
				@include center;
				font-size: 7rem;
				background: #f5f5f5;
				color: #ccc;
			}
		}
		.blog-content-container {
			padding: 3rem 3rem 2rem 0;
			.blog-title {
				font-size: 2.2rem;
				margin-bottom: 1.5rem;
				a {
					color: $text-color;
					font-weight: 500;
					transition: $transition-base;
				}
			}
			.blog-content {
				margin-bottom: 2.5rem;
				p {
					font-size: 1.4rem;
				}
			}
			.blog-item-bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				a {
					@include center;
					margin-bottom: 1rem;
					font-size: 1.3rem;
					font-weight: 500;
					border-radius: $radius-base;
					height: 3.6rem;
				}
				.blog-date {
					margin-bottom: 1rem;
					display: flex;
					align-items: center;
					font-size: 1.1rem;
					> span {
						display: flex;
						align-items: center;
						&:first-child {
							padding-right: 0.5rem;
						}
					}
					i {
						margin-right: 0.3rem;
					}
				}
			}
			@include max($md) {
				padding: 1.5rem 1.5rem 0.5rem !important;
				.blog-title {
					font-size: 1.6rem;
					margin-bottom: 1rem;
				}
				.blog-content {
					margin-bottom: 1.5rem;
					p {
						font-size: 1.2rem;
					}
				}
			}
		}
		&:hover {
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
			.blog-title {
				a {
					color: $primary-color;
				}
			}
		}
	}
	&.blog-multi-colon {
		.blog-list-item {
			.blog-content-container {
				padding: 1.5rem 1.5rem 0.5rem;
			}
		}
	}
	&.blog-small-colon {
		.blog-list-item {
			.blog-content-container {
				.blog-title {
					font-size: 1.6rem;
					margin-bottom: 1rem;
				}
				.blog-content {
					margin-bottom: 1.5rem;
					p {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

.blog-detail-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 3rem;
	.blog-category {
		margin-bottom: 1rem;
		a {
			color: $text-color;
			transition: $transition-base;
			i {
				margin-right: 0.5rem;
			}
			&:hover {
				color: $primary-color;
			}
		}
	}
	.blog-date {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
		> span {
			display: flex;
			align-items: center;
			i {
				margin-right: .5rem;
			}
			&:first-child {
				padding-right: 1rem;
			}
		}
	}
	@include max($sm) {
		margin-bottom: 1rem;
	}
}

.blog-detail-content {
	margin-bottom: 2rem;
	.blog-content {
		font-size: 1.4rem;
		line-height: 2.4rem;
		margin-bottom: 3rem;
		@include max($sm) {
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}
	.blog-tags {
		font-size: 1.4rem;
		margin-bottom: 3rem;
		.badge {
			font-size: 1.3rem;
			padding: 0.5rem;
			background-color: $gray-color;
			color: $text-color;
		}
		@include max($sm) {
			margin-bottom: 1.5rem;
		}
	}
	.blog-button {
		a {
			border-radius: $radius-base;
		}
	}
}

.idea-promotion-bar {
	padding: 0;
	&.bar-position-top {
		border-bottom: none;
	}
	@include max($md) {
		display: none !important;
	}
}

.theme-slider {
	&:not(.slick-initialized) {
		height: 40rem;
		background:url("/assets/images/loader.gif") no-repeat center center #ffffff;
		.theme-slider-item {
			visibility: hidden;
		}
	}
}

.showcase-container,
.paginate-wrapper,
.category-list,
.brand-list,
#sorting-options {
	background-color: #ffffff;
	padding: $gutter;
	box-shadow: $shadow-base;
	border-radius: $radius-base;
	margin-bottom: $gutter;
	@include max($xs) {
		padding: 0;
		box-shadow: none;
	}
}

#list-campaign-page,
#list-category-page,
#list-brand-page {
	background-color: #ffffff;
	padding: $gutter;
	box-shadow: $shadow-base;
	border-radius: $radius-base;
	@include max($xs) {
		padding: 0;
		box-shadow: none;
	}
}

.information-content,
.user-login-box {
	background-color:#ffffff;
}

#checkout-breadcrumbs  {
	.checkout-steps {
		> a {
			margin-left: -$gutter;
			margin-right: -$gutter;
		}
	}
}

#ideaexport_translation_bar_container {
	display: none;
}

#custom-export {
	position: relative;
	> a {
		color: $light-text-color;
		display: block;
		padding: 1rem;
		font-weight: 600;
		transition: $transition-base;
		> span {
			padding-left: 1rem;
			text-transform: uppercase;
		}
		&:hover {
			color: $primary-color;
		}
	}
	.custom-export-content {
		position: absolute;
		right: 0;
		top: 100%;
		width: 320px;
		background-color: #ffffff;
		display: none;
		padding: $gutter;
		border: 1px solid $border-color;
		z-index: 2;
		.custom-export-title {
			margin-bottom: $gutter;
			font-size: 1.6rem;
			font-weight: 700;
		}
		.custom-export-select {
			margin-bottom: $gutter;
			position: relative;
			> a {
				padding: 1rem;
				display: flex;
				color: $text-color;
				border: 1px solid $border-color;
				> span {
					&:last-child {
						padding-left: 1rem;
					}
				}
				&:after {
					content: '\f078';
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					margin-left: auto;
				}
			}
			.select-content {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				max-height: 200px;
				overflow-y: auto;
				background-color: #ffffff;
				z-index: 2;
				border: 1px solid $border-color;
				border-top: none;
				> a {
					padding: 1rem;
					display: flex;
					color: $text-color;
					> span {
						&:last-child {
							padding-left: 1rem;
						}
					}
					&:hover {
						background-color: $border-color;
					}
				}
			}
		}
	}
	@include max($md) {
		.custom-export-content {
			width: 250px;
		}
	}
}

.flag {
	width: 18px;
	height: 18px;
	background-image: url("/assets/images/export-flags.png");
	display: block;
}

.variant-plural {
    span {
        &.variant-image {
            &.variant-product-image {
                max-width: 6.4rem;
                max-height: 6.4rem;
				padding: 0;
                img {
                    max-width: 6.2rem;
                    max-height: 6.2rem;
                }
            }
        }
    }
}
